<div class="android-drawer mdl-layout__drawer">
  <span class="mdl-layout-title">
    <img class="android-logo-image" src="images/android-logo-white.png">
  </span>
  <nav class="mdl-navigation">
    <span class="mdl-navigation__link" href="">Contents</span>
    <a class="mdl-navigation__link" href="">관련 포스트</a>
    <a class="mdl-navigation__link" href="">오픈 소스</a>
    <div class="android-drawer-separator"></div>
    <span class="mdl-navigation__link" href="">Official</span>
    <a class="mdl-navigation__link" href="">블로그</a>
    <a class="mdl-navigation__link" href="">오픈 소스</a>
    <div class="android-drawer-separator"></div>
    <span class="mdl-navigation__link" href="">Document</span>
    <a class="mdl-navigation__link" href="">문서</a>
    <div class="android-drawer-separator"></div>
    <span class="mdl-navigation__link" href="">People</span>
    <a class="mdl-navigation__link" href="">Organizer</a>
    <div class="android-drawer-separator"></div>

  </nav>
</div>