<div class="android-header mdl-layout__header mdl-layout__header--waterfall">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title">
      <a class="site-name" href="/" target="_self">
        Firebase Korea
      </a>
    </span>
    <!-- Add spacer, to align navigation to the right in desktop -->
    <div class="android-header-spacer mdl-layout-spacer"></div>
    <div class="android-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
      <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
        <i class="material-icons">search</i>
      </label>
      <div class="mdl-textfield__expandable-holder">
        <input class="mdl-textfield__input" type="text" id="search-field">
      </div>
    </div>
    <!-- Navigation -->
    <div class="android-navigation-container">
      <nav class="android-navigation mdl-navigation">
        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="#our_post">관련 포스트</a>
        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="#our_open_source">오픈소스</a>
        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="#official_post">공식 블로그 번역</a>
        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="#official_open_source">공식 오픈소스 한글화</a>
        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="#document">Document</a>
        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="#organizer">Organizer</a>
      </nav>
    </div>
  </div>
</div>
