<div class="cols-wrapper">
  <div class="col-main-wrapper">
    <div class="col-main">
      <section class="section">
        <div class="post-list">
          <div class="post">
            <div class="post-body">
              <div class="post-content markdown-body" style="display: block;">
                {{ content }}
              </div>
              <div class="post-footer">
                <div class="cmt_iframe_holder" data-href="http://firebase.googleblog.com/2017/04/brand-new-course-from-udacity-and-google.html" data-viewtype="FILTERED_POSTMOD" id="undefined"></div>
                <a href="https://plus.google.com/112374322230920073195" rel="author" style="display:none;">
                  Google
                </a>
                <div class="label-footer">
                  <span class="labels-caption">
                    Labels:
                  </span>
                  <span class="labels">
                    {% for tag in post.tags %}
                    <a class="label" href="http://firebase.googleblog.com/search/label/Android" rel="tag">
                      Android
                    </a>
                    ,
                    {% endfor %}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <!-- <div class="col-right">
      <aside class="aside">
        <section class="sidebar">
          <div class="tag-list">
            <h2>Tags</h2>
          </div>
        </section>
      </aside>
    </div> -->
    <div style="clear:both;"></div>
  </div>
</div>
