.official-post {
  position: relative;
  .cover {
    position: relative;
    height: 300px;
    background-image: url("/images/official_post_cover.jpg");
    background-size: cover;
    background-position: center;
    @media (max-width: $md), (max-height: $md) {
      height: 250px;
    }
    @media (max-width: $sm), (max-height: $sm) {
      height: 200px;
    }
  }
  .author-image {
    position: relative;
    width: 200px;
    height: 200px;
    margin: -100px auto;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
  }
  .post-info {
    position: relative;
    margin: 150px auto 80px auto;
    text-align: center;
    p {
      font-size: 24px;
    }
  }
  .title {
    text-align: center;
    color: $primary-color;
  }
}
